/* styles for body, container,
and styles that are applied to multiple elements */

body {
    font-family: Arial, sans-serif;
    color: #DA9F93;
    background-color: #000000;
}

.container {
    width: 80%; /* makes all content take up 80% no matter how wide the page is */
    margin: 0 auto; /* removes top and bottom margins, left/right margins automatically determined */
    background-color: #890620;
}

/* styles for header and navigation */

h1 {
    padding-top: 15px;
}
.logo {
    border-radius: 50%; /* rounds the corners of the square image so it displays as a circle */
}

