body {
    font-family: Arial, sans-serif;
    color: #DA9F93;
    background-image: url("images/BackdropCurtain.jpg");
}

.container {
    width: 80%;
    margin: 0 auto;
    
}


h1 {
    padding-top: 15px;
}

.logo {
    padding-top: 15px;
    border-radius: 50%;
}

header, footer {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: 
}

nav li {
    display: inline;
    padding: 0.5em; 
}


nav a:active, nav a:hover, nav a:visited, nav a:link {
    text-decoration: none; 
    color: #DA9F93; 
}
p {
    padding: 0 10px 0 15px;
    text-align: center;
}

nav a:hover {
    font-weight: bold;
    background-color: #cccccc;
}


#hero {
    width: 95%; 
}


footer {
    font-size: 0.75em; 
    padding: 0.5em 0;
}


section {
    float: right;
}